*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    text-decoration: none;
    
}
body{
    background-color: #f0f0f0;
}
.container{
    width: 85%;
    background-color: f0f0f0;
    margin: auto;
    padding: 20px;

}
.menu ul li{
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    margin: 30px;


}
.contac{
    border-radius: 5px ;
    background-color: #F1A104;
    padding: 10px 15px;
    margin: 20px;
    text-align: center;
    color: #ffffff;
    display: inline;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    list-style: none; 
    
}
.navbar ul li{
    padding: 0px 20px 0px 20px ;
    color: white;
    cursor: pointer;
    text-decoration: none;
    
}
img{
    width: 50%;
    display: flex;
}
ul{
    list-style-type: none;
}
.logo img{
    width: 15%;
    display: flex;
}
.filter_btn{
    background-color: none;
    color: #555;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #555;
    text-align: center;
    transition: all 0.3s ease;
    font-weight: 500;
}

.Title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 600;
}
.filter_button{
    text-align: center;
    margin-bottom: 20px;
}

.filter_btn.active,.filter_btn:hover{
    background-color: #ff6b00;
    color: white;
    border-color: #ff6b00;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.gambar{
    width: 30%;
    border-radius: 12px;
    transform: scale(1);
    transition: all 0.3s ease;

}
.gambar img{
    width: 100%;
    height: 100%;
}
.gambar:hover{
    transform: scale(1.05);
}
.p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.header{
    display: flex;
    justify-content: center;
    color: #0c084c;
    margin: 20px 0px 50px 0px;
    padding: 12px 24px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.jurusan{
    display: flex;
    justify-content: center;
}

.TKJ{
    background-color: #F2F5F7;
    color: black;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
}
.RPL{
    background-color: #F2F5F7;
    color: black;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
}
.DKV{
    background-color: #F2F5F7;
    color: black;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
}
.tkj{
    background-color: #F1A204;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.rpl{
    background-color: #F1A204;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.dkv{
    background-color: #F1A204;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.text1{
    background-color: #0C084C;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 12px 24px;
    text-align: center;
}
.text2{
    background-color: #0C084C;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 12px 24px;
    text-align: center;
}
.text3{
    background-color: #0C084C;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 12px 24px;
    text-align: center;
}
b{
    font-weight: 150;
    color: #0C084C
}
p{
     font-weight: 150; 
     color: #0C084C
}
li{
    quotes: 1;
}
ul{
    list-style-type: none;
    padding: 10px;
}

.porto-dkv{
    display: flex;
    justify-content: center;
    margin: 50px 0px 20px 0px;
    padding: 12px 24px;


    font-weight: 700;
}
.video{
    /* background-color:; */
    height: 500px;
    border-radius: 20px;
}
.text{
    margin: 0px 20px 30px 20px;
    font-size: 20px;
    color: #0c084c;
    /* background-color: azure; */
    padding: 20px;
    align-items: left;

    
}

.porto-click{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: #0C084C;
    border-radius: 8px;
    padding: 10px 20px;
    display: inline-block;
    color: white;
}
.porto-click p{
    color: white;
}
.foto img{   
    /* display: flex; */
    padding: auto;
    margin-bottom: 90px;
    /* justify-content: space-evenly; */
    margin: auto;
}
.hero{
    display: flex;
    justify-content: space-between;
    
}
.porto-rpl{
    display: flex;
    justify-content: end;
    margin: 50px 0px 20px 0px;
    padding: 12px 24px;


    font-weight: 700;
}
.perusahaan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    /* width: 20%; */
}
.perusahaan p{
    font-size: 18px;
    color: #0C084C;
    font-weight: bold;
    font-size:medium;
}
.porto-rpl img{
    display: flex;
    size: 50%;
}
.perusahaan img{
    width: 10%;
}
.Join p{
    background-color:white;
    color: #0C084C;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #0C084C;
    font-weight: 500;
    flex-wrap: wrap;
}
.Wow p{
    background-color: #0C084C;
    color: white;
    border-radius: 8px;
    padding: 10px 37px;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #0C084C;
    font-weight: 500;
}
.porto-tkj{
    display: flex;
    justify-content: center;
    margin: 50px 0px 20px 0px;
    padding: 12px 24px;
    font-weight: 700;
}
.text{
    width: 70vh;
}
.ajakan{
    display: flex;
}
.plaque img{
    width: 350px;
}
.kotak{
    background-color: #F1A104;
    padding: 60px;
    border-radius: 10px;
}
.kotak p{
    color: white;
}
.footer{
    background-color: #e6e6e6;
    padding: 30px;
}
.footer p{
    color: white;
}
@media screen and (max-width: 600px) {
    .hero{
        flex-direction: column;
    }
    .hero img{
        margin-top: 20px;
        width: 100%;
    }
    .porto-rpl{
        flex-direction: column;
        align-items: center;
    }
    .porto-rpl img{
        margin-top: 20px;
        width: 80%;
    }
    .container{
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }
    .perusahaan{
        flex-direction: column;
        align-items: center;
        width: 110%
    }
    .jurusan{
        flex-direction: column;
        align-items: center;
    }
    .porto-dkv{
        flex-direction: column;
        align-items: center;
    }
    .porto-dkv .video iframe{
        margin-top: 20px;
        width: 105%;
        height: 35%;
        align-items: center;
    }
    .filter_btn{
        margin: 10px 0px;
        align-items: center;

    }
    .menu{
        display: none;
    }
}
.alasan{
    display: flex;
    justify-content: center;
}
.tabel1{
    background-color: #F2F5F7;
    color: black;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
    
}
.tabel2{
    background-color: #FCEEEa;
    color: black;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
    
}
.tabel3{
    background-color: #F2F5F7;
    color: black;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
    
}
.tabel1 img{
    Padding-top: 2 0px;
    width: 130%;
    
}
.tabel2 img{
    Padding-top: 2 0px;
    width: 120%;
    
}
.tabel3 img{
    Padding-top: 2 0px;
    width: 130%;
    
}
h4{
    color: #0C084C;
}
h1{
    color: #0C084C;
}
.porto-rpl2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.web1{
    background-color: #F2F5F7;
    color: #0C084C;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
.web2{
    background-color: #F2F5F7;
    color: #0C084C;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
.web3{
    background-color: #F2F5F7;
    color: #0C084C;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
.web4{
    background-color: #F2F5F7;
    color: #0C084C;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
.porto-rpl2 img{
    width: 100%;
}
.kunjungi{
    background-color: #F1A204;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.porto-rpl2 .kunjungi {
    background-color: #F1A104;
    color: white;
}
.kunjungi i{
    color: white;
}
.setifikat{
    display: flex;
    justify-content: center;
}
.kompetensi1{
    background-color: #F2F5F7;
    color: #0C084C;
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
}
.kompetensi2 img{
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 100%;
}
.kompetensi3{
    background-color: #F2F5F7;
    color: #0C084C;
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
}